
[submodule "01-mocks"]
	path = 01-mocks
	url = git@github.com:PedroDiniz/01-mocks.git
[submodule "02-stubs"]
	path = 02-stubs
	url = git@github.com:PedroDiniz/02-stubs.git
[submodule "03-spies"]
	path = 03-spies
	url = git@github.com:PedroDiniz/03-spies.git
[submodule "04-coverage-e2e"]
	path = 04-coverage-e2e
	url = git@github.com:PedroDiniz/04-coverage-e2e.git